@import "profile";
@import "article";
@import "comment";




.container {
    width: 375px;
    margin: 0 auto;
    padding: 0 15px;
    color: #333A42;
    font-family: Poppins Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  