@import "profile";
@import "article";
@import "comment";
@import "device";

.container {
    width: 375px;
    margin: 0 auto;
    padding: 0 15px;
    color: #333A42;
    font-family: Poppins Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .home-indicator {
    position: fixed;    /* フィックスポジションを指定 */
    left: 50%;          /* 親要素を基準に左から50%の位置に設定 */
    bottom: 10px;       /* 下端から10pxの位置に設定 */
    width: 100px;       /* インジケーターの幅を100pxに設定 */
    height: 5px;        /* インジケーターの高さ */
    background: #000;   /* インジケーターの背景色 */
    z-index: 1000;      /* 他の要素の上に表示するためのz-index */
    transform: translateX(-50%); /* X軸に対して-50%移動させ、中央に配置 */
}

a {
  color: inherit;      /* 親要素の色を継承 */
  text-decoration: none;
}

.notice, .alert {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  opacity: 1;
  animation: fadeout 1s ease-in-out 2s forwards;
  text-align: center;
  max-width: 70%;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  &.notice {
    background-color: #000cb6;
    color: #ffffff;
    border: 1px solid #000cb6;
  }

  &.alert {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
