@import "_variables";
@import "profile";
@import "article";
@import "comment";
@import "device";
@import "relationship";
@import "search";



body{
  margin: 20px;
}

.container {
    margin: 0 auto;
    margin-top: 10px;
    color: #333A42;
    font-family: Poppins Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  img {
    height: auto;
  }
// //////////boostrapのデフォルトcssを無効化/////////////////////////////////////////
.custom-img {
  box-sizing: content-box !important;
}

.custom-link {
  color: inherit;      /* 親要素の色を継承 */
  text-decoration: none !important; 
}

.custom-link-btn {
  color: rgb(255, 255, 255);
  text-decoration: none !important; 
  a:hover{
    color: rgb(255, 255, 255) !important;
  }
}

 a:hover {
  color: #000000 !important;
}
////////////////////////////////////////////////////////////////////////////////
.notice, .alert {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  opacity: 1;
  animation: fadeout 1s ease-in-out 2s forwards;
  text-align: center;
  max-width: 70%;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 20000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  &.notice {
    background-color: $main-color;
    color: #ffffff;
    border: 1px solid $main-color;
  }

  &.alert {
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid #ff002b;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.menu-container {
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 1000;
  display: flex;

  .menu-button {
    position: relative;
    background-color: $main-color;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: #f50057; // より濃いピンクに変化
      transform: scale(1.05); // 少し大きくなる
    }

    &:focus {
      outline: none;
    }
  }

  .dropdown-menu {
    display: none;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1000;
    box-sizing: content-box;

    .dropdown-link {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: #000000;

      &:hover {
        background-color: $main-color;
        color: #ffffff;
      }
    }
  }

  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}


