@import '_variables';

.article-new-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;


  .btn {
    padding: 5px 15px;
    border: none;
    cursor: pointer;
  }

  .article-new-post {
      background-color: #3498db;
      color: white;
  }

  .article-new-status {
    font-size: 18px;
  }
}

.article-new-profile {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .article-new-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid $main-color;
    padding: 2px;
  }

  .article-new-username {
    font-size: 16px;
  }
}

.article-new-textarea {
  margin-top: 20px;

  .article-new-input {
    width: 100%;
    padding-bottom: 80px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.article-new-upload {
  margin-top: 20px;
  position: relative;

  .article-new-label {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  .article-new-file-input {
    display: none;
  }

  .article-new-preview {
    display: flex;
    margin-top: 10px;
    img {
      width: 100%;
      height: 100%;
      margin-right: 10px;
    }
  }
}


.timeline-page {
  margin-top: 30px;
  .post-btn ,.search-btn {
    max-width: 20px;
    max-height: 20px;
    position: fixed;
    top: 15px;
    right: 210px;
    padding: 10px;
    border-radius: 20%;
    background-color: #ffffff;
    border: 1px solid $main-color;
    z-index: 1000;

  }
  .search-btn{
    position: fixed;
    top: 15px;
    right: 130px;
  }
}

  .article-list {
    list-style-type: none;
    padding: 0;

    .article-item {
      padding: 16px;
      border-bottom: 1px solid #e1e1e1;

      .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-details {
          display: flex;
          align-items: center;

          .user-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 8px;
            border: 1px solid $main-color;
            padding: 2px;
            
          }

          .user-name {
            font-weight: bold;
          }
        }

        .delete-article-button {
            width: 25px;
            height: 25px;
            display: block;
            margin-left: auto; 
        }
      }

      .post-time {
        color: #a1a1a1;
        font-size: 12px;
        margin-top: 8px;
      }


      
      .article-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;

          &.like-button {
            color: #e74c3c;
          }
        }
      }

      .article-text {
        margin-top: 12px;
      }
    }
  }

.like-icons {
  position: relative;
  width: 16px;
  height: 16px;

  img {
    max-width: 100%;
    height: auto;
  }

  .like-button-active,
  .like-button-inactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .like-button-active {
    display: none;
  }
}

.article-image-container {
  margin-bottom: 8px;
  display: flex;
  max-width: 100%;
  height: 240px;

  &:nth-child(odd) { // 奇数番目の記事の場合
    .main-image {
      margin-right: 1%; // 奇数番目の時に右側にマージンを設定
    }
  }

  &:nth-child(even) { // 偶数番目の記事の場合
    flex-direction: row-reverse; // 子要素の順番を逆にする

    .main-image {
      margin-left: 1%; // row-reverse が適用されたときに左側にマージンを設定
    }
  }

  .article-image {
    object-fit: cover;
    height: 100%;
  }

  .single-image {
    width: 100%;
  }

  .main-image {
    width: 60%;
  }

  .double-image {
    width: 39%; // 画像間のギャップのために2%減らす
  }

  .side-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 39%;
    height: 100%; 

    .side-image {
      width: 100%;
      height: calc(50% - 2%); // 2つの画像がある場合、それぞれの高さを50%からギャップ分を引いた値に設定
      object-fit: cover;
      &:last-child {
        margin-top: 2%; // 画像間のギャップを作成する
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

    &-content {
      max-width: 2000px; 
      max-height: 2000px;
      position: absolute;
      top: 50%; /* 上端から画面の50%の位置に */
      left: 50%; /* 左端から画面の50%の位置に */
      transform: translate(-50%, -50%); /* 自身のサイズの半分だけ左上に移動して中央に配置 */
      padding: 10px;
      background-color: #fff;
      display: flex; /* Flexboxを使用して中身を整列 */
      align-items: center; /* 縦方向の中央揃え */
      justify-content: center; /* 横方向の中央揃え */
    }

    .modal-image {
      max-width: 90%; /* 画像の最大幅を親要素の90%に設定 */
      max-height: 80vh; /* 画像の最大高さをビューポート高の80%に設定 */
      object-fit: contain; /* 画像のアスペクト比を保持 */
    }

    .close,
    .left-arrow,
    .right-arrow {
      color: #ffffff;
      background-color: #000000;
      font-size: 28px;
      border: none;
      cursor: pointer;
      position: absolute;

    }

    .close {
      right: 5px;
      top: 5px;
    }

    .left-arrow,
    .right-arrow {
      top: 50%;
      transform: translateY(-50%);
      }

    .left-arrow {
      left: 0px;
    }

    .right-arrow {
      right: 0px;
    }

    .modal-btn{
      color: #ffffff;
      background-color: #000000;
      font-size: 28px;
      border: none;

      &:hover,
      &:focus {
        color: #000000;
        background-color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }
  }
}
