@import '_variables';

.article-new-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;


  .btn {
    padding: 5px 15px;
    border: none;
    cursor: pointer;
  }

  .article-new-cancel {
      background-color: #d0d0d0;
      font-size: 12px;
  }

  .article-new-post {
      background-color: #3498db;
      color: white;
  }

  .article-new-status {
    font-size: 18px;
  }
}

.article-new-profile {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .article-new-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .article-new-username {
    font-size: 16px;
  }
}

.article-new-textarea {
  margin-top: 20px;

  .article-new-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

  .article-new-upload {
    margin-top: 20px;
    position: relative;

    .article-new-label {
      cursor: pointer;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
    }

    .article-new-file-input {
      display: none;
    }

    .article-new-preview {
      display: flex;
      margin-top: 10px;
      img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
      }
    }
  }


.timeline-page {
  margin-top: 30px;
  .post-button {
    position: fixed; // 画面に対して固定
    top: 15px;
    padding: 10px;
    border-radius: 20%;
    background-color: #ffffff;
    border: 1px solid $main-color;
    z-index: 1000;   // 他の要素より上に表示

    @media (min-width: 1px) { // デスクトップ用
      left: calc(50% - 170px); // ビューポートの中央から左に移動
    }
  }

  .article-list {
    list-style-type: none;
    padding: 0;

    .article-item {
      padding: 16px;
      border-bottom: 1px solid #e1e1e1;

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between; // 左側の要素（ユーザー情報）と右側の要素（削除ボタン）を画面の両端に配置

  .user-details {
    display: flex;
    align-items: center;

    .user-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .user-name {
      font-weight: bold;
    }
  }

  .delete-article-button {
      font-size: 12px;
  }
}

      .post-time {
        color: #a1a1a1;
        font-size: 12px;
        margin-top: 8px;
      }


      
      .article-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;

          &.like-button {
            color: #e74c3c;
          }
        }
      }

      .article-text {
        margin-top: 12px;
      }
    }
  }
}


.like-icons {
  position: relative;
  width: 16px;
  height: 16px;

  img {
    max-width: 100%;
    height: auto;
  }

  .like-button-active,
  .like-button-inactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .like-button-active {
    display: none;
  }
}

.article-image-container {
  display: flex;
  max-width: 360px;
  height: 180px;
  margin-bottom: 8px;

  &:nth-child(odd) { // 奇数番目の記事の場合
    .main-image {
      margin-right: 2%; // 奇数番目の時に右側にマージンを設定
    }
  }

  &:nth-child(even) { // 偶数番目の記事の場合
    flex-direction: row-reverse; // 子要素の順番を逆にする

    .main-image {
      margin-left: 2%; // row-reverse が適用されたときに左側にマージンを設定
    }
  }

  .article-image {
    object-fit: cover;
    height: 100%;
  }

  .single-image {
    width: 100%;
  }

  .main-image {
    width: 60%;
  }

  .double-image {
    width: 38%; // 画像間のギャップのために2%減らす
  }

  .side-images {
    display: flex;
    flex-direction: column;
    width: 38%;

    .side-image {
      height: 48%; // 画像間のギャップのために2%減らす
      object-fit: cover;

      &:last-child {
        margin-top: 5%; // 画像間のギャップを作成する
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

    &-content {
      margin: 15% auto;
      padding: 20px;
      width: 80%;
      position: relative;
    }

    .close {
      position: absolute;
      right: -10px;
      top: 20px;
      float: right;
    }

    .left-arrow,
    .right-arrow {
      position: fixed;
      top:30px;
      }

    .left-arrow {
      left: 15px;
    }

    .right-arrow {
      right: 15px;
    }

    .modal-btn{
      color: #ffffff;
      background-color: #000000;
      font-size: 28px;
      border: none;

      &:hover,
      &:focus {
        color: #000000;
        background-color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }
  }
}
