@import "_variables";

.form {
    width: 343px;
    max-width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .field {
      margin-bottom: 20px;

      .f-label {
        margin-bottom: 5px;
      }
      input{
        width: 343px;
        max-width: 90%; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        &:focus {
          border-color: #66afe9;
          outline: 0;
        }
      }
    }

    .link-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 10px;
    }
    
    .btn {
        width: 343px;
        max-width: 90%;
        padding: 10px 15px;
        border-radius: 4px;

        &-primary {
        background-color: #007bff;
        color: white;

            &:hover {
                background-color: darken($main-color, 5%);
            }
        }
            &-link {
            color: #007bff;
            margin-bottom: 5px;
        }
    }
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}