@import "_variables";

/* スマホ以下サイズで適用されるスタイル */
@media (max-width: 768px) {
  .display-4 {
    font-size: 36px !important;
  }
}

.custom-row {
  margin-top: -100px;
}

.custom-img-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-radius: 10px;
  max-width: 300px;
}

@media (max-width: 768px) {
  .overlay-text {
    font-size: 14px; /* テキストのフォントサイズを小さくする */
  }
}


.login-img{
  width: 100%;
}

.custom-btn {
  padding: 10px 15px;
  border-radius: 4px;

  &-primary {
    background-color: darken($main-color, 5%);
    color: rgb(255, 255, 255);
  }
}


.form {
    padding: 10px;

    .field {
      margin-bottom: 10px;

      .f-label {
        margin-bottom: 5px;
      }
      input{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        &:focus {
          border-color: #66afe9;
          outline: 0;
        }
      }
    }

    .link-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 10px;
    }
}