.form {
    width: 343px; // フォームの幅
    max-width: 343px; // フォームの最大幅
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .field {
      margin-bottom: 20px; // フィールド間のスペース

      .f-label {
        margin-bottom: 5px; // ラベルと入力フィールド間のスペース
      }
      input{
        width: 343px;   
        padding: 10px; // 入力フィールドの内側のスペース
        border: 1px solid #ccc; // 境界線のスタイル
        border-radius: 4px; // 角の丸み
        &:focus {
          border-color: #66afe9;
          outline: 0; // フォーカス時にデフォルトのアウトラインを除去
        }
      }
    }


    .btn {
        width: 343px; // ボタンの幅
        padding: 10px 15px;
        border-radius: 4px; // ボタンの角の丸み
        display: block; // ブロックレベル要素として


        &-primary {
        background-color: #007bff; // プライマリボタンの背景色
        color: white; // プライマリボタンのテキスト色

            &:hover {
                background-color: darken(#007bff, 5%); // ホバー時の背景色
            }
        }
            &-link {
            background-color: transparent; // リンクボタンの背景色
            color: #007bff; // リンクボタンのテキスト色
            text-align: right; // テキストを右に寄せる

            &:hover {
                color: darken(#007bff, 5%); // ホバー時のテキスト色
            }
        }
    }
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}