@import '_variables';


.user-list-container {
    .user-list {
      list-style: none;
      padding: 0;
      margin: 0;
  
      .user-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
  
        .user-link {
          display: flex;
          align-items: center;
          width: 100%;
  
          .user-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px; // アバターの右のスペース
            border: 1px solid $main-color;
            padding: 2px;
          }
  
          .user-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start; // 左揃えで要素を配置
  
            .user-name {
              font-size: 16px;
              color: #333;
            }
  
            .user-last-login {
              font-size: 12px;
              color: #666;
              margin-top: 5px; // ユーザーネームとログイン時間の間のスペース
            }
          }
        }
      }
    }
  }
  