.container
  .profile-header
    %h1= @user.username
    - unless current_user == @user
      - if current_user.followed?(@user)
        = button_to 'Unfollow', account_unfollows_path(account_id: @user), method: :post, class: 'follow-btn'
      - else
        = button_to 'Follow', account_follows_path(account_id: @user), method: :post, class: 'follow-btn'

  - if @user.profile.avatar.attached?
    = image_tag @user.profile.avatar, class: 'profile-avatar'
  - else
    %p No Profile Image

  %input#avatarInput{ type: "file", name: "avatar" }

  .profile-stats
    .stat-item
      %h2 100
      %p posts
    .stat-item
      %h2 50
      %p followers
    .stat-item
      %h2 75
      %p following

-#   .posts
-#     .posts-timeline
-#       - @user.posts.order(created_at: :desc).each do |post|
-#         - if post.image.attached?
-#           = image_tag post.image